*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

/* Header */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border:1.5px solid white;
}

.nav-address{
   color: white;
   padding-bottom: 0px;
   margin: 0px;
   align-items: center;
   display:flex ;
   /* height: 25px; */
   /* width: 25px; */
}

.add-icon{
    margin: 0 5px;
    padding: 0;
}
 
/* box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
     width: 100%;
     font-size: 1rem;
     border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 162, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; 
}

.nav-search:hover{
    border:2px solid orange;
    border-radius: 2px;
}

/* region */
.region{
    display: flex;
    font-size: 1.2rem;
    align-items: baseline;
    font-weight: 700;
    
}
.region-icon{
    font-size: 1.8rem;
    margin-right: 5px;

}

.search-region{
    background-color: #0f1111;
    color: white;
    border-color: transparent;
    font-size: 1rem;
    font-weight: 700;

}

/* region */

/* box 4 */
span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85 rem;
    font-weight: 700;
}
/* box 5 */

.cart{
    display: flex;
    font-size: 1.2rem;
    align-items: baseline;
    font-weight: 700;

}

.cart-icon{
    font-size: 1.8rem;
    /* margin-right: 15px; */

}
/* Header */

/* Panel */

.panel{
    height: 40px;
    background-color:#222f3d;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* Panel */

/* hero section */

.hero-section{
    background-image: url("hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.hero-msg{
    height: 20px;
    width: auto;
    padding: 10px;
    line-height: 20px;
    background-color: #f3f3f3;
    font-family: "Arial", sans-serif;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
/* hero section */

/* shop section  */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding-bottom: 20px;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}

.box-img{
    height: 300px;
    background-size: cover;
    background-image: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 16px;
    margin-right: 16px;
}
.box-content p{
    color: #007185;
}



/* shop section  */

/* footer section */
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

ul {
    margin-top: 20px;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    padding-bottom: 25px;
   
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;

}

/* footer section */